@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased;
  }

  a {
    @apply text-zinc-900;
  }
}
