
---
const h1 = "LED Lights for Better Plant Growth";
const copy =
  "最新LEDテクノロジーで、植物の成長を劇的にサポート。プロフェッショナルも信頼する、大学・研究機関採用の実績が証明する高性能育成ライト。";

import sf1000 from "../assets/sf1000.png";
import { Image } from "astro:assets";
import { ChevronRightIcon } from '@heroicons/react/20/solid'

import { useState } from 'react'
import { Dialog, DialogPanel } from '@headlessui/react'
import { Bars3Icon, XMarkIcon } from '@heroicons/react/24/outline'

const navigation = [
  { name: 'Product', href: '#' },
  { name: 'Features', href: '#' },
  { name: 'Marketplace', href: '#' },
  { name: 'Company', href: '#' },
]

---


	<div class="bg-[#f5f5f7]">
		<section class="relative w-full pt-20 pb-24 text-center lg:py-10">
			<div class="mx-auto max-w-[980px] px-6">
				<h1 class="text-5xl font-semibold tracking-tight text-[#1d1d1f] md:text-7xl">
					LED Lights<br />
					<span class="text-[#6e6e73]">for Better Grow.</span>
				</h1>
				<p class="mx-auto mt-6 max-w-2xl text-xl font-medium text-[#1d1d1f] md:text-2xl">
        {copy}
				</p>
				<!-- <div class="mt-10 flex items-center justify-center gap-4"> -->
				<!-- 	<Button href="/products" size="lg">Buy</Button> -->
				<!-- 	<Button href="/products" variant="link" size="lg">Learn more ></Button> -->
				<!-- </div> -->
			</div>

		</section>
    </div>
