
---
import { Image } from "astro:assets";
import lab from "../assets/lab.webp";
---
<div class="mx-auto bg-gray-900 sm:px-6 lg:px-8">

<div class="relative mx-auto max-w-7xl bg-gray-900">
  <div
    class="relative h-80 overflow-hidden md:absolute md:left-0 md:h-full md:w-1/3 lg:w-1/2"
  >
    <Image
      class="h-full w-full object-cover"
      src={lab}
      alt="研究・業務用途での購入をご検討中のお客様"
    />
  </div>
  <div class="relative mx-auto max-w-7xl py-24 sm:py-32 lg:px-8 lg:py-40">
    <div
      class="pl-6 pr-6 md:ml-auto md:w-2/3 md:pl-16 lg:w-1/2 lg:pl-24 lg:pr-0 xl:pl-32"
    >
      <h2 class="text-base font-semibold leading-7 text-green-300">
        研究開発への強力なパートナー
      </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        研究・業務用途での購入をご検討中のお客様
      </p>
      <p class="mt-6 text-base leading-7 text-gray-300">
        お客様の研究やビジネスに必要不可欠な機器を、LED企画がフルサポートいたします。農林水産省、先端製薬会社、国立大学への信頼ある納品実績を基に、専門知識を持ったスタッフがお客様の要望に沿った最適な製品をご提案。導入から運用まで、一貫した支援でお客様の研究・業務を強力に後押しします。
        栽培工場の設置から請求書によるお支払いまで、お客様の多様なニーズに柔軟に対応。お問い合わせはお気軽にどうぞ。
      </p>
      <div class="mt-8">
        <a
          href="/pages/contact"
          class="inline-flex rounded-md bg-green-700 bg-white/10 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        >
          お問い合わせフォーム
        </a>
      </div>
    </div>
  </div>
</div>

</div>
