---
import Button from '../../components/Button.astro';
import Container from '../../components/Container.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Checkout Success">
	<div class="bg-white">
		<Container class="flex flex-col items-center py-16 sm:py-24">
			<div class="mx-auto w-full max-w-2xl text-center">
				<p class="text-sm font-semibold text-zinc-900">Payment successful</p>
				<h1 class="mt-2 text-4xl font-bold tracking-tight text-zinc-900 sm:text-5xl">Thanks for ordering</h1>
				<p class="mt-4 text-base text-zinc-500">
					We appreciate your order. The details will be processed shortly. If you have any questions, please contact our support team.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<Button href="/products" size="lg">
						Continue shopping
					</Button>
					<Button href="/" variant="link" size="lg">
						Back to home <span aria-hidden="true"> &rarr;</span>
					</Button>
				</div>
			</div>
		</Container>
	</div>
</Layout>
