---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import { SignIn as ClerkSignIn } from '@clerk/astro/components';
import { t } from '../i18n';
---

<Layout title={t('signIn.pageTitle')} disableViewTransitions>
  <Container class="py-16">
    <div class="flex justify-center">
      <ClerkSignIn appearance={{ variables: { colorPrimary: '#0071e3' } }} />
    </div>
  </Container>
</Layout>
